:root {
  --orange: #f88147;
  --white: #ffffff;
  --lightSilver: #ededed;
  --greyText: #575757;
  --silverText: #7e7e7e;
  --backgroudSilver: #f9f9f9;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: var(--greyText);
}

p {
  font-weight: 300;
  letter-spacing: 0.5;
  line-height: 1.6;
  color: var(--silverText);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 34px;
  font-weight: 800;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

h5 {
  font-size: 14px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullwidth {
  width: 100%;
}

/* TOPBAR */
.topbar--full {
  background: #1e3344;
  border-top: 2px solid var(--orange);
}

.topbar--full .topbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  padding: 0px 30px;
  color: var(--white);
  margin: 0 auto;
}

.topbar--full .topbar ul {
  list-style: none;
  height: 100%;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topbar--full .topbar ul a {
  color: var(--white);
  line-height: 1;
}

.topbar--full .topbar ul a li {
  margin-right: 0px;
}

.topbar--full .topbar ul a:hover {
  color: var(--lightSilver);
}

.topbar--full .topbar .topbar__icons li {
  padding-left: 15px;
}

.topbar--full .topbar .topbar__menu a:nth-child(1) {
  border-right: 2px solid var(--white);
  padding-right: 15px;
}

.topbar--full .topbar .topbar__menu a:nth-child(2) {
  border-right: 2px solid var(--white);
  padding: 0 15px;
}

.topbar--full .topbar .topbar__menu a:nth-child(3) {
  padding-left: 15px;
}

/* NAV */
.nav {
  max-width: 1920px;
  padding: 0px 30px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--white);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav .logo {
  padding: 10px 0;
}

.nav .logo img {
  height: 90%;
}

.nav ul {
  list-style: none;
  height: 100%;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.nav ul a {
  color: var(--greyText);
  font-weight: 600;
}

.nav ul a li {
  padding: 5px 15px;
}

.nav ul a .button:hover {
  background: var(--orange);
  color: var(--white);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.nav ul a .dropdown {
  position: relative;
}

.nav ul a .dropdown .dropdown__child {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 0px;
  width: 100%;
  background: var(--lightSilver);
  color: var(--greyText);
  display: none;
}

.nav ul a .dropdown .dropdown__child li {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.nav ul a .dropdown .dropdown__child li:hover {
  background: var(--white);
}

.nav ul a .dropdown:hover .dropdown__child {
  display: block;
}

.nav ul a .active {
  background: var(--orange);
  color: var(--white);
}

/* SLIDER */
.slider--full {
  background-image: url(../imgs/female-student-holding-her-books.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.slider--full .slider__layer {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(3, 3, 3, 0.5)), to(rgba(49, 48, 48, 0)));
  background-image: linear-gradient(to right, rgba(3, 3, 3, 0.5), rgba(49, 48, 48, 0));
}

.slider--full .slider {
  max-width: 1920px;
  padding: 200px 30px;
  margin: auto;
}

.slider--full .slider .slider__text {
  color: var(--white);
  width: 50%;
}

.slider--full .slider .slider__text h5 {
  color: var(--lightSilver);
}

.slider--full .slider .slider__text .button {
  border-radius: 50px;
  padding: 10px 20px;
  color: var(--white);
  margin-right: 30px;
}

.slider--full .slider .slider__text .button--fill {
  background: var(--orange);
  border: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.slider--full .slider .slider__text .button--fill:hover {
  background: var(--white);
  color: var(--orange);
}

.slider--full .slider .slider__text .button--outlined {
  background: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.slider--full .slider .slider__text .button--outlined:hover {
  background: var(--white);
  color: var(--orange);
}

/* FEATRURES BOXES */
.features {
  max-width: 1920px;
  padding: 50px 30px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .feature {
  width: 30%;
  text-align: center;
  background: var(--backgroudSilver);
  border: 1px solid var(--lightSilver);
  padding: 30px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.features .feature img {
  margin-bottom: 20px;
}

.features .feature:hover {
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/* FORM ROW */
.form__row {
  max-width: 1920px;
  padding: 50px 30px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__row .form__image {
  width: 50%;
}

.form__row .form__image img {
  width: 100%;
}

.form__row .form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 50%;
  background: var(--backgroudSilver);
  border: 1px solid var(--lightSilver);
  padding: 30px;
}

.form__row .form span {
  color: var(--orange);
}

.form__row .form #inputName {
  margin: 20px 0;
}

.form__row .form .btn {
  width: 100%;
  margin-top: 20px;
  background: var(--orange);
  border: none;
}

.form__row .form .btn:hover {
  background: var(--greyText);
}

/* DETAILS ROW */
.details {
  max-width: 1920px;
  padding: 50px 30px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details span {
  color: var(--orange);
}

.details .line {
  width: 40px;
  height: 3px;
  background: var(--orange);
  border: none;
  opacity: 1;
  margin-bottom: 20px;
}

.details .detail {
  width: 30%;
}

.details .about img {
  width: 100%;
  margin-bottom: 20px;
}

.details .about .about__button {
  background: var(--orange);
  border: none;
  padding: 5px 25px;
  color: var(--white);
  border-radius: 5px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.details .about .about__button:hover {
  background: var(--greyText);
}

.details .events article {
  background: var(--backgroudSilver);
  border: 1px solid var(--lightSilver);
  padding: 15px;
  margin-bottom: 15px;
}

.details .events article .article__date {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--orange);
  color: var(--white);
  text-align: center;
  padding: 5px 20px;
}

.details .events article .article__date .date {
  color: var(--white);
  margin: 0;
}

.details .events article .article__date .date__day {
  font-size: 22px;
  font-weight: 400;
}

.details .events article .article__date hr {
  margin: 0 0 10px 0;
  height: 1px;
  border: none;
  opacity: 1;
}

.details .events article .article__date .date__month {
  font-size: 16px;
}

.details .events article .article__detail {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details .events article .article__detail .detail__title {
  color: var(--greyText);
  font-weight: 600;
  font-size: 18px;
}

.details .events article .article__detail .detail__course i {
  color: var(--orange);
  padding-right: 5px;
}

.details .events article .article__detail .detail__course .detail__time {
  padding-right: 10px;
}

.details .events article .article__detail .detail__course .detail__time p {
  margin: 0;
}

.details .events article .article__detail .detail__course .detail__city p {
  margin: 0;
}

/* FOOTER */
footer {
  background: var(--greyText);
}

footer .footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  padding: 100px;
  color: var(--white);
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer .footer__item {
  text-align: center;
}

footer .footer .footer__item .big__number {
  font-size: 40px;
  color: var(--orange);
  font-weight: 600;
  margin: 0;
}

footer .footer .footer__item i {
  font-size: 40px;
  margin-bottom: 10px;
}

/* RULES TO SMALL DEVICES */
@media only screen and (max-width: 1000px) {
  .slider--full .slider .slider__text {
    width: 90%;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .feature {
    width: 70%;
    margin: 15px auto;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row .form__image {
    width: 100%;
    margin-bottom: 50px;
  }
  .form__row .form {
    width: 100%;
  }
  .form__row .form .col-sm-6 {
    margin-bottom: 20px;
  }
  .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details .detail {
    width: 70%;
    margin: 15px auto;
  }
  footer .footer {
    max-width: 600px;
  }
  footer .footer .footer__item {
    width: 50%;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1224px) {
  .detail__course {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */