:root {
    --orange: #f88147;
    --white: #ffffff;
    --lightSilver: #ededed;
    --greyText: #575757;
    --silverText: #7e7e7e;
    --backgroudSilver: #f9f9f9;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: var(--greyText);
}

p {
    font-weight: 300;
    letter-spacing: 0.5;
    line-height: 1.6;
    color: var(--silverText);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 34px;
    font-weight: 800;
}

h4{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

h5{
    font-size: 14px;
}

.flex {
    display: flex;
}

.fullwidth {
    width: 100%;
}

/* TOPBAR */
.topbar--full {
    background: #1e3344;
    border-top: 2px solid var(--orange);
    .topbar {
        justify-content: space-between;
        max-width: 1920px;
        padding: 0px 30px;
        color: var(--white);
        margin: 0 auto;
       
            ul{
                list-style: none;
                height: 100%;
                padding: 0px;
                align-items: center;
                justify-content: center;
                
                a {
                    color: var(--white);
                    line-height: 1;
                    li {
                        margin-right: 0px;    
                    }
                }
    
                a:hover {
                    color:var(--lightSilver);
                }
            }

            .topbar__icons {
                li {
                    padding-left: 15px;
                }
            }
    
            .topbar__menu {
                a:nth-child(1) {
                    border-right: 2px solid var(--white);
                    padding-right: 15px;
                }
                a:nth-child(2) {
                    border-right: 2px solid var(--white);
                    padding: 0 15px;
                }  
                a:nth-child(3) {
                    padding-left: 15px;
                }
               
            }
        
    }
}

/* NAV */
.nav {
    max-width: 1920px;
    padding: 0px 30px;
    margin: 0 auto;
    justify-content: space-between;
    background: var(--white);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 10;
    
    .logo {
        padding: 10px 0;
        img {
            height: 90%;
        }
    }
    
    ul{
        list-style: none;
        height: 100%;
        padding: 0px;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        a {
            color: var(--greyText);
            font-weight: 600;
            li {
                padding: 5px 15px;
               
            }
            .button:hover {
                background: var(--orange);
                color:var(--white);
                transition: all 400ms;
            }
    
            .dropdown {
                position: relative;
                .dropdown__child {
                    position: absolute;
                    z-index: 1;
                    top: 30px;
                    left: 0px;
                    width: 100%;
                    background: var(--lightSilver);
                    color: var(--greyText);
                    display: none;
                    
                    li{
                        transition: all 400ms;
                    }
    
                    li:hover {
                        background: var(--white);
                    }
                }
                
            }
    
            .dropdown:hover .dropdown__child{
                display: block;
            }
            .active {
                background: var(--orange);
                color:var(--white);
            }
        }

        
    }
}

/* SLIDER */
.slider--full{
    background-image: url(../imgs/female-student-holding-her-books.jpg);
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center top;

    .slider__layer {
        background-image: linear-gradient(to right,rgba(3, 3, 3, 0.5), rgba(49, 48, 48,0));
    }

    .slider {
        max-width: 1920px;
        padding: 200px 30px;
        margin: auto;
        
        .slider__text {
            color: var(--white);
            width: 50%;

            h5 {
                color: var(--lightSilver)
            }
            .button {
                border-radius: 50px;
                padding: 10px 20px;
                color: var(--white);
                margin-right: 30px;
            } 

            .button--fill {
                background: var(--orange);  
                border: none;
                transition: all 400ms;
            }

            .button--fill:hover {
                background: var(--white);  
                color: var(--orange);
            }

            .button--outlined {
                background: transparent;  
                color: var(--white);
                border: 2px solid var(--white);
                transition: all 400ms;
            }

            .button--outlined:hover {
                background: var(--white);  
                color: var(--orange);
            }
        }

    }
}

/* FEATRURES BOXES */
.features {
    max-width: 1920px;
    padding: 50px 30px;
    margin: 0 auto;
    justify-content: space-between;

    .feature{
        width: 30%;
        text-align: center;
        
        background: var(--backgroudSilver);
        border: 1px solid var(--lightSilver);
        padding: 30px;
        transition: 400ms;
        ;
        img {
            margin-bottom: 20px;
        }
    }

    .feature:hover {
        box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
        transform: translateY(-5px)
    }
}

/* FORM ROW */
.form__row{
    max-width: 1920px;
    padding: 50px 30px;
    margin: 0 auto;
    justify-content: space-between;
    .form__image {
        width: 50%;
        img {
            width: 100%;
        }
    }

    .form{
        flex-direction: column;
        align-content: space-between;
        width: 50%;
        background: var(--backgroudSilver);
        border: 1px solid var(--lightSilver);
        padding: 30px;
        
        span {
            color: var(--orange);
        }

        #inputName {
            margin: 20px 0;
        }

        .btn {
            width: 100%;
            margin-top: 20px;
            background: var(--orange);
            border: none;
        }
        .btn:hover {
            background: var(--greyText);
           
        }
    }
}

/* DETAILS ROW */
.details {
    max-width: 1920px;
    padding: 50px 30px;
    margin: 0 auto;
    justify-content: space-between;
    
    span {
        color: var(--orange);
    }

    .line {
        width: 40px;
        height: 3px;
        background: var(--orange);
        border: none;
        opacity: 1;
        margin-bottom: 20px;
    }

    .detail {
        width: 30%;
    }

    .about{
        img {
            width: 100%;
            margin-bottom: 20px;
        }

        .about__button {
            background: var(--orange);
            border: none;
            padding: 5px 25px;
            color: var(--white);
            border-radius: 5px;
            transition: all 400ms;
        }

        .about__button:hover {
            background: var(--greyText);  
            
        }
    }

    .events {
        article {
            background: var(--backgroudSilver);
            border: 1px solid var(--lightSilver);
            padding: 15px;
            margin-bottom: 15px;

            .article__date {
                flex-direction: column;
                background: var(--orange);
                color: var(--white);
                text-align: center;
                padding: 5px 20px;
                .date {
                    color: var(--white);
                    margin: 0;
                }

                .date__day {
                    font-size: 22px;
                    font-weight: 400;
                }

                hr {
                    margin: 0 0 10px 0;
                    height: 1px;
                    border: none;
                    opacity: 1;
                }

                .date__month {
                    font-size: 16px;
                    
                }
            }

            .article__detail {
                flex-direction: column;
                padding-left: 15px;
                justify-content: center;

                .detail__title {
                    color: var(--greyText);
                    font-weight: 600;
                    font-size: 16px;
                }
                .detail__course {
                    
                    i {
                        color: var(--orange);
                        padding-right: 5px;
                    }

                    .detail__time {
                        padding-right: 10px;
                        
                        p {
                            margin: 0;
                        }
                    }

                    .detail__city {
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .choose {
        .accordion {
            background-color: var(--backgroudSilver);
            font-size: 16px;
            font-weight: 600;
            color: var(--greyText);
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
            
        }
        
        .active, .accordion:hover {
            background: var(--greyText);
            color: var(--white);
        }
        
        .panel {
            margin-left: 20px;
            padding: 10px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            border-left: dashed;
            border-width: 1px;
            border-color: rgb(197, 196, 196);
            p {
                padding: 10px 0 0 10px;
            }
          }
    }
}

/* FOOTER */
footer {
    background: var(--greyText);

    .footer {
        justify-content: space-between;
        max-width: 1200px;
        padding: 100px;
        color: var(--white);
        margin: 0 auto;
        flex-wrap: wrap;
        
        .footer__item {
            text-align: center;

            .big__number {
                font-size: 40px;
                color: var(--orange);
                font-weight: 600;
                margin: 0;
            }

            i {
                font-size: 40px;
                margin-bottom: 10px;
            }
        }

    }
}

/* RULES TO SMALL DEVICES */
@media only screen and (max-width: 1000px) {
    .slider--full {
        .slider {
            .slider__text{
                width: 90%;
            }
        }
    }

    .features {
        flex-direction: column;
        .feature{
            width: 70%;
            margin: 15px auto;

        }
    }

    .form__row{
        flex-direction: column;
        .form__image{
            width: 100%;
            margin-bottom: 50px;
        }
        .form{
            width: 100%;
            .col-sm-6{
                margin-bottom: 20px;
            }
        }
    }

    .details {
        flex-direction: column;
        .detail{
            width: 70%;
            margin: 15px auto;

        }
    }

    footer {
        .footer {
            max-width: 600px;
            
            .footer__item {
                width: 50%;
                margin-bottom: 50px;
            }
        }
    }
  }

  @media only screen and (max-width: 1224px) {
    .detail__course {
        flex-direction: column;
    }
  }