:root {
  --orange: #f88147;
  --white: #ffffff;
  --lightSilver: #ededed;
  --greyText: #575757;
  --backgroudSilver: #f9f9f9;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 34px;
  font-weight: 800;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

h5 {
  font-size: 14px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullwidth {
  width: 100%;
}

.topbar--full {
  background: #1e3344;
  border-top: 2px solid var(--orange);
}

.topbar--full .topbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  padding: 0px 30px;
  color: var(--white);
  margin: 0 auto;
}

.topbar--full .topbar ul {
  list-style: none;
  height: 100%;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topbar--full .topbar ul a {
  color: var(--white);
  line-height: 1;
}

.topbar--full .topbar ul a li {
  margin-right: 0px;
}

.topbar--full .topbar ul a:hover {
  color: var(--lightSilver);
}

.topbar--full .topbar .topbar__icons li {
  padding-left: 15px;
}

.topbar--full .topbar .topbar__menu a:nth-child(1) {
  border-right: 2px solid var(--white);
  padding-right: 15px;
}

.topbar--full .topbar .topbar__menu a:nth-child(2) {
  border-right: 2px solid var(--white);
  padding: 0 15px;
}

.topbar--full .topbar .topbar__menu a:nth-child(3) {
  padding-left: 15px;
}

.nav {
  max-width: 1920px;
  padding: 0px 30px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .logo {
  padding: 10px 0;
}

.nav .logo img {
  height: 90%;
}

.nav ul {
  list-style: none;
  height: 100%;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.nav ul li {
  padding: 5px 15px;
}

.nav ul .button:hover {
  background: var(--orange);
  color: var(--white);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.nav ul .dropdown {
  position: relative;
}

.nav ul .dropdown .dropdown__child {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 0px;
  width: 100%;
  background: var(--lightSilver);
  color: #000000;
  display: none;
}

.nav ul .dropdown .dropdown__child li {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.nav ul .dropdown .dropdown__child li:hover {
  background: var(--white);
}

.nav ul .dropdown:hover .dropdown__child {
  display: block;
}

.nav ul .active {
  background: var(--orange);
  color: var(--white);
}

.slider--full {
  background-image: url(../imgs/female-student-holding-her-books.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.slider--full .slider__layer {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(3, 3, 3, 0.5)), to(rgba(49, 48, 48, 0)));
  background-image: linear-gradient(to right, rgba(3, 3, 3, 0.5), rgba(49, 48, 48, 0));
}

.slider--full .slider {
  max-width: 1920px;
  padding: 200px 30px;
  margin: auto;
}

.slider--full .slider .slider__text {
  color: var(--white);
  width: 50%;
}

.slider--full .slider .slider__text h5 {
  color: var(--lightSilver);
}

.slider--full .slider .slider__text .button {
  border-radius: 50px;
  padding: 10px 20px;
  color: var(--white);
  margin-right: 30px;
}

.slider--full .slider .slider__text .button--fill {
  background: var(--orange);
  border: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.slider--full .slider .slider__text .button--fill:hover {
  background: var(--white);
  color: var(--orange);
}

.slider--full .slider .slider__text .button--outlined {
  background: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.slider--full .slider .slider__text .button--outlined:hover {
  background: var(--white);
  color: var(--orange);
}

.boxes {
  max-width: 1920px;
  padding: 50px 30px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boxes .box {
  width: 30%;
  text-align: center;
  color: var(--greyText);
  background: var(--backgroudSilver);
  border: 1px solid var(--lightSilver);
  padding: 30px;
}

.boxes .box img {
  margin-bottom: 20px;
}

.form__row {
  max-width: 1920px;
  padding: 50px 30px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__row .form__image {
  width: 50%;
}

.form__row .form__image img {
  width: 100%;
}

.form__row .form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 50%;
  background: var(--backgroudSilver);
  border: 1px solid var(--lightSilver);
  padding: 30px;
  color: var(--greyText);
}

.form__row .form span {
  color: var(--orange);
}

.form__row .form #inputName {
  margin: 20px 0;
}

.form__row .form .btn {
  width: 100%;
  margin-top: 20px;
  background: var(--orange);
  border: none;
}

.form__row .form .btn:hover {
  background: var(--greyText);
}

footer {
  background: var(--greyText);
}

footer .footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  padding: 100px;
  color: var(--white);
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer .footer__item {
  text-align: center;
}

footer .footer .footer__item .big__number {
  font-size: 40px;
  color: var(--orange);
  font-weight: 600;
  margin: 0;
}

footer .footer .footer__item i {
  font-size: 40px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
  .slider--full .slider .slider__text {
    width: 90%;
  }
  .boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boxes .box {
    width: 70%;
    margin: 15px auto;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row .form__image {
    width: 100%;
    margin-bottom: 50px;
  }
  .form__row .form {
    width: 100%;
  }
  .form__row .form .col-sm-6 {
    margin-bottom: 20px;
  }
  footer .footer {
    max-width: 600px;
  }
  footer .footer .footer__item {
    width: 50%;
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */