@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --backgroudSilver: #f9f9f9;
  --greyText: #575757;
  --lightSilver: #ededed;
  --orange: #f88147;
  --silverText: #7e7e7e;
  --white: #ffffff;
  --blue: #1e3344;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: var(--greyText);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

p {
  color: var(--silverText);
  font-weight: 300;
  letter-spacing: 0.5;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 34px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h5 {
  font-size: 14px;
}

span {
  color: var(--orange);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullwidth {
  width: 100%;
}

/* TOPBAR */
.topbar--full {
  border-top: 2px solid var(--orange);
  background: var(--blue);
}

.topbar--full .topbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
  color: var(--white);
}

.topbar--full .topbar ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0;
  list-style: none;
}

.topbar--full .topbar ul a {
  color: var(--white);
  line-height: 1;
}

.topbar--full .topbar ul a li {
  margin-right: 0;
}

.topbar--full .topbar ul a:hover {
  color: var(--lightSilver);
}

.topbar--full .topbar .topbar__icons li {
  padding-left: 15px;
}

.topbar--full .topbar .topbar__menu a:nth-child(1) {
  padding-right: 15px;
  border-right: 2px solid var(--white);
}

.topbar--full .topbar .topbar__menu a:nth-child(2) {
  padding: 0 15px;
  border-right: 2px solid var(--white);
}

.topbar--full .topbar .topbar__menu a:nth-child(3) {
  padding-left: 15px;
}

/* NAV */
.sticky__nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  background: var(--white);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.sticky__nav .nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
}

.sticky__nav .nav .logo {
  padding: 10px 0;
}

.sticky__nav .nav .logo img {
  height: 90%;
}

.sticky__nav .nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0;
  cursor: pointer;
  list-style: none;
}

.sticky__nav .nav ul a {
  color: var(--greyText);
  font-weight: 500;
}

.sticky__nav .nav ul a li {
  padding: 5px 15px;
}

.sticky__nav .nav ul a .button:hover {
  background: var(--orange);
  color: var(--white);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.sticky__nav .nav ul a .dropdown {
  position: relative;
}

.sticky__nav .nav ul a .dropdown .dropdown__child {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 0;
  display: none;
  width: 100%;
  background: var(--lightSilver);
  color: var(--greyText);
}

.sticky__nav .nav ul a .dropdown .dropdown__child li {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.sticky__nav .nav ul a .dropdown .dropdown__child li:hover {
  background: var(--white);
}

.sticky__nav .nav ul a .dropdown:hover .dropdown__child {
  display: block;
}

.sticky__nav .nav ul a .active {
  background: var(--orange);
  color: var(--white);
}

/* MOBILE NAV */
.mobile__nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 100%;
  background: var(--white);
}

.mobile__nav .mobile__main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mobile__nav .mobile__main i {
  font-size: 30px;
}

.mobile__nav .mobile__main img {
  height: 40px;
}

.mobile__nav #dropdown__mobile {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 60px;
  right: 0px;
  display: none;
  width: 50%;
  background: var(--lightSilver);
  text-align: right;
}

.mobile__nav #dropdown__mobile ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile__nav #dropdown__mobile ul a {
  color: var(--greyText);
}

.mobile__nav #dropdown__mobile ul a li {
  padding: 5px 20px 5px 10px;
}

.mobile__nav #dropdown__mobile ul a .hamburguer__menu {
  font-size: 1.2em;
  border-bottom: 1px solid var(--white);
}

.mobile__nav #dropdown__mobile ul a .submenu {
  font-size: 0.8em;
}

.mobile__nav #dropdown__mobile ul .hamburguer__menu:hover {
  background: var(--white);
}

.mobile__nav #dropdown__mobile ul .submenu:hover {
  background: var(--orange);
  color: var(--white);
}

/* SLIDER */
.slider--full {
  background-image: url(../imgs/female-student-holding-her-books.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.slider--full .slider__layer {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(3, 3, 3, 0.5)), to(rgba(49, 48, 48, 0)));
  background-image: linear-gradient(to right, rgba(3, 3, 3, 0.5), rgba(49, 48, 48, 0));
}

.slider--full .slider {
  max-width: 1920px;
  margin: auto;
  padding: 200px 30px;
}

.slider--full .slider .slider__text {
  width: 50%;
  color: var(--white);
}

.slider--full .slider .slider__text h5 {
  color: var(--lightSilver);
}

.slider--full .slider .slider__text p {
  color: var(--lightSilver);
}

.slider--full .slider .slider__text .button {
  margin-right: 30px;
  padding: 10px 20px;
  border-radius: 50px;
  color: var(--white);
}

.slider--full .slider .slider__text .button--fill {
  border: none;
  background: var(--orange);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.slider--full .slider .slider__text .button--fill:hover {
  background: var(--white);
  color: var(--orange);
}

.slider--full .slider .slider__text .button--outlined {
  border: 2px solid var(--white);
  background: transparent;
  color: var(--white);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.slider--full .slider .slider__text .button--outlined:hover {
  background: var(--white);
  color: var(--orange);
}

/* FEATRURES BOXES */
.features {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 30px;
}

.features .feature {
  width: 30%;
  padding: 30px;
  border: 1px solid var(--lightSilver);
  background: var(--backgroudSilver);
  text-align: center;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.features .feature img {
  margin-bottom: 20px;
}

.features .feature:hover {
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/* FORM ROW */
.form__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 30px;
}

.form__row .form__image {
  width: 50%;
}

.form__row .form__image img {
  width: 100%;
}

.form__row .form {
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 30px;
  border: 1px solid var(--lightSilver);
  background: var(--backgroudSilver);
}

.form__row .form #inputName {
  margin: 20px 0;
}

.form__row .form .btn {
  width: 100%;
  margin-top: 20px;
  border: none;
  background: var(--orange);
}

.form__row .form .btn:hover {
  background: var(--greyText);
}

/* BLOG */
.blog--full {
  padding: 50px 0;
  background: var(--backgroudSilver);
}

.blog--full .blog {
  max-width: 1920px;
  margin: auto;
  padding: 50px 30px;
  overflow: hidden;
}

.blog--full .blog h5 {
  color: var(--silverText);
}

.blog--full .blog .blog__title {
  width: 80%;
}

.blog--full .blog .blog__arrows {
  width: 20%;
  text-align: right;
}

.blog--full .blog .blog__arrows .cards__controls button {
  padding: 5px 20px;
  border: none;
  outline: none;
  background: var(--orange);
  color: var(--white);
  font-size: 20px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.blog--full .blog .blog__arrows .cards__controls button:hover {
  background: var(--greyText);
}

.blog--full .blog .blog__slider {
  margin-top: 30px;
}

.blog--full .blog .blog__slider .cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.blog--full .blog .blog__slider .cards__item {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 350px;
  border-radius: 3px;
  background: var(--white);
  list-style-type: none;
  -webkit-transition: -webkit-transform 0.3s ease-out, -webkit-box-shadow 400ms;
  transition: -webkit-transform 0.3s ease-out, -webkit-box-shadow 400ms;
  transition: transform 0.3s ease-out, box-shadow 400ms;
  transition: transform 0.3s ease-out, box-shadow 400ms, -webkit-transform 0.3s ease-out, -webkit-box-shadow 400ms;
}

.blog--full .blog .blog__slider .cards__item:not(:first-child) {
  margin-left: 20px;
}

.blog--full .blog .blog__slider .cards__item img {
  width: 100%;
}

.blog--full .blog .blog__slider .cards__item .card__title {
  padding: 20px 20px 0 20px;
  color: var(--greyText);
  font-size: 16px;
  font-weight: 500;
}

.blog--full .blog .blog__slider .cards__item .card__text {
  padding: 0 20px 20px 20px;
}

.blog--full .blog .blog__slider .cards__item:hover {
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

/* DETAILS ROW */
.details {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 30px;
}

.details .line {
  width: 40px;
  height: 3px;
  margin-bottom: 20px;
  opacity: 1;
  border: none;
  background: var(--orange);
}

.details .detail {
  width: 30%;
}

.details .about img {
  width: 100%;
  margin-bottom: 20px;
}

.details .about .about__button {
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  background: var(--orange);
  color: var(--white);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.details .about .about__button:hover {
  background: var(--greyText);
}

.details .events article {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid var(--lightSilver);
  background: var(--backgroudSilver);
}

.details .events article .article__date {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 20px;
  background: var(--orange);
  color: var(--white);
  text-align: center;
}

.details .events article .article__date .date {
  margin: 0;
  color: var(--white);
}

.details .events article .article__date .date__day {
  font-size: 22px;
  font-weight: 400;
}

.details .events article .article__date hr {
  height: 1px;
  margin: 0 0 10px 0;
  opacity: 1;
  border: none;
}

.details .events article .article__date .date__month {
  font-size: 16px;
}

.details .events article .article__detail {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
}

.details .events article .article__detail .detail__title {
  color: var(--greyText);
  font-size: 16px;
  font-weight: 500;
}

.details .events article .article__detail .detail__course i {
  padding-right: 5px;
  color: var(--orange);
}

.details .events article .article__detail .detail__course .detail__time {
  padding-right: 10px;
}

.details .events article .article__detail .detail__course .detail__time p {
  margin: 0;
}

.details .events article .article__detail .detail__course .detail__city p {
  margin: 0;
}

.details .choose .accordion {
  width: 100%;
  padding: 18px;
  border: none;
  outline: none;
  background-color: var(--backgroudSilver);
  color: var(--greyText);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.details .choose .active, .details .choose .accordion:hover {
  background: var(--greyText);
  color: var(--white);
}

.details .choose .panel {
  overflow: hidden;
  max-height: 0;
  margin-left: 20px;
  padding: 10px;
  border-width: 1px;
  border-left: 1px dashed;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.details .choose .panel p {
  padding: 10px 0 0 10px;
}

/* FOOTER */
footer {
  background: var(--greyText);
}

footer .footer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
  color: var(--white);
}

footer .footer .footer__item {
  text-align: center;
}

footer .footer .footer__item .big__number {
  margin: 0;
  color: var(--orange);
  font-size: 40px;
  font-weight: 500;
}

footer .footer .footer__item i {
  margin-bottom: 10px;
  font-size: 40px;
}

/* RULES TO SMALL DEVICES */
@media only screen and (max-width: 1000px) {
  .slider--full .slider .slider__text {
    width: 90%;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .feature {
    width: 70%;
    margin: 15px auto;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row .form__image {
    width: 100%;
    margin-bottom: 50px;
  }
  .form__row .form {
    width: 100%;
  }
  .form__row .form .col-sm-6 {
    margin-bottom: 20px;
  }
  .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details .detail {
    width: 70%;
    margin: 15px auto;
  }
  footer .footer {
    max-width: 600px;
    padding: 50px 0 0 0;
  }
  footer .footer .footer__item {
    width: 50%;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1224px) {
  .detail__course {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .mobile__nav {
    display: block;
  }
  .hidden__mobile {
    display: none;
  }
  .slider__text div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider__text div .button {
    margin-bottom: 15px;
  }
  .features .feature {
    width: 100%;
  }
  .details .detail {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */